.message {
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    max-width: 200px;
    padding: 10px 0;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    color: firebrick;
}